header {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.item {
    padding: 20px;
    text-align: left;
    border: 1px solid;
    border-end-start-radius: 20px;
    margin: 10px;
    width: 350px;
    /* height: 100px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.3s;
}

.item:hover {
    transform: scale(1.09);
    border: 1.5px solid;
}

input {
    padding: 10px;
    border-end-start-radius: 20px;
    margin: 10px;
}

footer{
    text-align: center;
}

/* a{
    float: right;
    text-align:right; 
    width: 100%;
} */

.text{
    width: 400px;
    height: 200px;
}

img{
    width: 20px;
    height: 20px;
    transition: 0.3s;
}

img:hover{
    width: 20px;
    height: 20px;
    transform: scale(1.20);
}